.game{
    display: flex;
    align-content: center;
    justify-content: center;
}

.game-info{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-left: 24px;
}